<a href="https://colab.research.google.com/github/srirakshareddy/Word-Embedding-/blob/main/Sriraksha_word_embeddingipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Spambase**

In [ ]:
import pandas as pd
import numpy as np
import re
cols = ['word_freq_make', 'word_freq_address', 'word_freq_all', 'word_freq_3d', 'word_freq_our', 'word_freq_over', 'word_freq_remove', 'word_freq_internet', 'word_freq_order', 'word_freq_mail', 'word_freq_receive', 'word_freq_will', 'word_freq_people', 'word_freq_report','word_freq_addresses', 'word_freq_free', 'word_freq_business', 'word_freq_email', 'word_freq_you', 'word_freq_credit', 'word_freq_your', 'word_freq_font', 'word_freq_000', 'word_freq_money', 'word_freq_hp', 'word_freq_hpl', 'word_freq_george', 'word_freq_650', 'word_freq_lab', 'word_freq_labs', 'word_freq_telnet', 'word_freq_857', 'word_freq_data', 'word_freq_415', 'word_freq_85', 'word_freq_technology', 'word_freq_1999', 'word_freq_parts', 'word_freq_pm', 'word_freq_direct', 'word_freq_cs', 'word_freq_meeting', 'word_freq_original', 'word_freq_project', 'word_freq_re', 'word_freq_edu', 'word_freq_table', 'word_freq_conference', 'char_freq_;', 'char_freq_(', 'char_freq_[', 'char_freq_!', 'char_freq_$', 'char_freq_#', 'capital_run_length_average', 'capital_run_length_longest', 'capital_run_length_total', 'classified']

df=pd.read_csv(r"/content/spambase.data",  header=None)
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

# Removing special characters from column names, else it creates a problem using various regression models
regex = re.compile(r"\[|\]|<", re.IGNORECASE)
x.columns = [regex.sub("_", col) if any(x in str(col) for x in set(('[', ']', '<'))) else col for col in x.columns.values]

print('Data Table\n')
display(x)
print('\n\nTags Table')
display(y)

Data Table

,0,1,2,3,4,5,6,7,8,9,...,47,48,49,50,51,52,53,54,55,56
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.778,0.000,0.000,3.756,61,278
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.0,0.000,0.132,0.0,0.372,0.180,0.048,5.114,101,1028
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.0,0.010,0.143,0.0,0.276,0.184,0.010,9.821,485,2259
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.000,0.137,0.0,0.137,0.000,0.000,3.537,40,191
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.0,0.000,0.135,0.0,0.135,0.000,0.000,3.537,40,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4596,0.31,0.00,0.62,0.0,0.00,0.31,0.00,0.00,0.00,0.00,...,0.0,0.000,0.232,0.0,0.000,0.000,0.000,1.142,3,88
4597,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.353,0.000,0.000,1.555,4,14
4598,0.30,0.00,0.30,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.102,0.718,0.0,0.000,0.000,0.000,1.404,6,118
4599,0.96,0.00,0.00,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.057,0.0,0.000,0.000,0.000,1.147,5,78
4600,0.00,0.00,0.65,0.0,0.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.000,0.000,0.0,0.125,0.000,0.000,1.250,5,40

Tags Table

0       1
1       1
2       1
3       1
4       1
       ..
4596    0
4597    0
4598    0
4599    0
4600    0
Name: 57, Length: 4601, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split as tts

x_train, x_test, y_train,y_test=tts(x,y,test_size=0.7,random_state=0)

**Multinomial Naive Bayes**

In [ ]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score

mnb=MultinomialNB()
mnb.fit(x_train,y_train)

predicted=mnb.predict(x_test)

score=accuracy_score(y_test,predicted)

print("Accuracy score:" , round((score*100),2) ,"%")

Accuracy score: 82.89 %

**Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

rf_clf=RandomForestClassifier(n_estimators=250)
rf_clf.fit(x_train,y_train)

predicted=rf_clf.predict(x_test)

score=accuracy_score(y_test,predicted)
print("Accuracy score:" , round((score*100),2) ,"%")

Accuracy score: 94.32 %

**Support Vector Classification**

In [ ]:
from sklearn.svm import SVC
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

stsc = StandardScaler()

stsc.fit(x_train)
X_train_std = stsc.transform(x_train)
X_test_std = stsc.transform(x_test)

svc = SVC(C=1.0, random_state=1, kernel='linear')
 
# Fit the model
svc.fit(X_train_std, y_train)

predicted=svc.predict(X_test_std)

score=accuracy_score(y_test,predicted)

print("Accuracy score:" , round((score*100),2) ,"%")

Accuracy score: 91.49 %

**Logistic Regression**

In [ ]:
from sklearn.linear_model import LogisticRegression

log_R = LogisticRegression()

# fit in the model

log_R.fit(x_train, y_train)

# Score board for Logistic Regression

# Use score method to get accuracy of model


# Prediction
prediction=log_R.predict(x_test)
score =  accuracy_score(y_test, prediction)  
print ("Accuracry Score for Logistic Regresion ", round((100*score),2) ,"%")

Accuracry Score for Logistic Regresion  91.12 %

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

**Decision Tree Classifier**

In [ ]:
from sklearn.tree import DecisionTreeClassifier

# Create Decision Tree 
DC = DecisionTreeClassifier()

# Train Decision Tree
DC  = DC.fit(x_train, y_train)

#Prediction
y_pred = DC.predict(x_test)
score =  accuracy_score(y_test, y_pred)  
print ("Accuracry Score for DecisionTreeClassifier", round((100*score),2) ,"%")

Accuracry Score for DecisionTreeClassifier 88.14 %

**K-Nearest Neighbors Classifier**

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

neigh = KNeighborsClassifier(n_neighbors=3)
# Training model

neigh.fit(x_train, y_train)
y_pred= neigh.predict(x_test) 
score =  accuracy_score(y_test, y_pred)  
print ("Accuracry Score ", round((100*score),2) ,"%")

Accuracry Score  77.06 %

# **GloVe**

In [ ]:
import pandas as pd
import numpy as np
from string import printable
st = set(printable)
data_frame=pd.read_csv(r"/content/spam.csv",  names=["labelStr","text"],
                   skiprows=1,
                   usecols=[0,1],
                   encoding="latin-1")


data_frame['text']=data_frame["text"].apply(lambda x:''.join(['' if i not in st else i for i in x]))
data_frame['label']=data_frame['labelStr'].apply(lambda x:1 if x=='spam' else 0)

docs=data_frame['text'].values
labels=data_frame['label'].values

In [ ]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
# prepare tokenizer
t = Tokenizer()
t.fit_on_texts(docs)
vocab_size = len(t.word_index) + 1
# integer encode the documents
encoded_docs = t.texts_to_sequences(docs)
print(vocab_size)
# pad documents to a max length of 4 words
max_length = 20
padded_docs = pad_sequences(encoded_docs, maxlen=max_length, padding='post')
print(len(padded_docs))

8838
5572

In [ ]:
embed_index = dict()
f = open(r"/content/glove.6B.100d.txt",encoding="utf8")
for l in f:
    lines = l.split()
    word = lines[0]
    cofi = np.asarray(lines[1:], dtype='float32')
    embed_index[word] = cofi 
f.close()
print('Loaded %s word vectors.' % len(embed_index))

Loaded 400000 word vectors.

In [ ]:
# create a weight matrix for words in training docs
embedding_matrix = np.zeros((vocab_size, 100))
for word, i in t.word_index.items():
    embedding_vector = embed_index.get(word)
    if embedding_vector is not None:
        embedding_matrix[i] = embedding_vector

print(embedding_matrix.shape)

(8838, 100)

In [ ]:
from keras.models import Sequential
from keras.layers import Dense, Flatten
from keras.layers.embeddings import Embedding
# define the model

model = Sequential()
model.add(Embedding(vocab_size, 100, weights=[embedding_matrix], input_length=20, trainable=False))
model.add(Flatten())
model.add(Dense(1, activation='sigmoid'))
# compile the model
model.compile(optimizer='rmsprop', loss='binary_crossentropy', metrics=['acc'])
# summarize the model
print(model.summary())

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 20, 100)           883800

 flatten (Flatten)           (None, 2000)              0

 dense (Dense)               (None, 1)                 2001

=================================================================
Total params: 885,801
Trainable params: 2,001
Non-trainable params: 883,800
_________________________________________________________________
None

In [ ]:
# split dataset into train and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(padded_docs, labels, test_size=0.2, random_state=42)

In [ ]:
# fit the model
model.fit(X_train, y_train, epochs=10, verbose=0)
# evaluate the model
loss, accuracy = model.evaluate(X_test, y_test, verbose=0)
print("Accuracy:" , round((accuracy*100),2) ,"%")

Accuracy: 97.76 %